<!-- header.component.html -->
<section id="hero-area" class="header-area header-eight">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="header-content">
            <h1>Maximize your productivity with the best tools for your project.</h1>
            <p>
                As an experienced web developer, I want to be able to rate and review the tools available on the BestToolbox platform, so that I can provide feedback to other users and help improve the quality of the tools.
            </p>
            <p>
                As a user of the BestToolbox platform, I want to be able to save my favorite tools to my personal tool collection, so that I can easily access them later and keep track of the tools I use most frequently.
            </p>
            <p>
                As a web development instructor, I want to be able to recommend tools to my students through the BestToolbox platform, so that they can have access to a curated list of tools that will help them learn and develop their skills.
            </p>
            <div class="button">
              <a (click)="openLoginRegisterDialog()" class="btn primary-btn">Get Started>>Login</a>
              <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                class="glightbox video-button">
                <span class="btn icon-btn rounded-full">
                  <i class="lni lni-play"></i>
                </span>
                <span class="text">Watch Intro</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="header-image">
            <img src="assets/images/header/3.png" alt="#" />
          </div>
        </div>
      </div>
    </div>
  </section>
  
