
<!-- <button routerLink="/" routerLinkActive="active">Home</button>
<button routerLink="/tools" routerLinkActive="active" [queryParams]="{search:'vs'}">TooList</button>
<button routerLink="/user-dashboad">Dashboard</button>
<a routerLink="/tools" routerLinkActive="active">Tool List</a> -->


<router-outlet ></router-outlet>





<!-- <app-user-dashboard></app-user-dashboard> -->




<!-- Example Usage -->
<!-- <div class="container">
  <button type="button" class="btn btn-primary">Primary Button</button>
</div> -->


<!-- <input type="text" pInputText [(ngModel)]="v" />

<div class="card flex justify-content-center">
    <p-button label="TooList" icon="pi pi-check" routerLink=""></p-button>
</div><br><br> -->

<!-- <div class="card flex justify-content-center">
    <span class="p-float-label">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" inputId="float-label"></p-dropdown>
        <label for="float-label">Select a City</label>
    </span>
</div> -->



<!-- <div class="card flex justify-content-center">
    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" [editable]="true" optionLabel="name"></p-dropdown>
</div>


<div class="card flex flex-column align-items-center gap-3 ">
    <input pInputText type="text" class="p-inputtext-sm" placeholder="Small" [(ngModel)]=v/>
    <input pInputText type="text" placeholder="Normal" [(ngModel)]="v" />
    <input pInputText type="text" class="p-inputtext-lg" placeholder="Large" [(ngModel)]="v" />
</div>

<div class="card flex justify-content-center">
    <div class="flex flex-column gap-2">
        <label htmlFor="username">Username</label>
        <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="v" />
        <small id="username-help">Enter your username to reset your password.</small>
    </div>
</div>

<div class="card flex justify-content-center">
    <span class="p-float-label">
        <input pInputText id="username" [(ngModel)]="v" />
        <label htmlFor="username">Username</label>
    </span>
</div>

<div class="card flex justify-content-center">
    <input pInputText class="ng-invalid ng-dirty" [(ngModel)]="v" />
</div>


<div class="card flex justify-content-center">
    <span class="p-float-label">
        <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
        <label for="float-input">Summary</label>
    </span>
</div>

<app-user-counter></app-user-counter>
<app-list-box></app-list-box>
<app-list-box-filter></app-list-box-filter>
<app-divider-login></app-divider-login> -->

