<div class="sidebar-left">
    <div class="sidebar-close">
      <a class="close" href="#close"><i class="lni lni-close"></i></a>
    </div>
    <div class="sidebar-content">
      <div class="sidebar-logo">
        <a href="#about"><img id="img-logo-blue" src="assets/images/logo_transparent.png" alt="Logo" width="100" height="100"/></a>
      </div>
      <p class="text">Maximize Your Productivity With The Best Tools For Your Project.</p>
      <!-- logo -->
      <div class="sidebar-menu">
        <h5 class="menu-title">Quick Links</h5>
        <ul>
          <li><a routerLink="dashboard">Dashboad</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="javascript:void(0)">Our Team</a></li>
          <li><a href="#latest-tools">Latest Tools</a></li>
          <li><a href="#contact">Contact Us</a></li>

        </ul>
      </div>
      <!-- menu -->
      <div class="sidebar-social align-items-center justify-content-center">
        <h5 class="social-title">Follow Us On</h5>
        <ul>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100076718045234"><i class="lni lni-facebook-filled"></i></a>
          </li>
          <li>
            <a [href]="externalUrlFb" target="_blank"><i class="lni lni-twitter-original"></i></a>
          </li>
          <li>
            <a [href]="externalUrlIn" target="_blank"><i class="lni lni-linkedin-original"></i></a>
          </li>
          <li>
            <a [href]="externalUrlIn" target="_blank"><i class="lni lni-youtube"></i></a>
          </li>
        </ul>
      </div>
      <!-- sidebar social -->
    </div>
    <!-- content -->
  </div>
  <div class="overlay-left"></div>