<form>
    <div class="col-lg-6">
        <div class="form-group">
            <label class="form-control-label" for="input-last-name">Old Password</label>
            <input type="password" id="input-last-name" class="form-control" placeholder="Old Password"  name="oldpassword">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label class="form-control-label" for="new-password">New Password</label>
            <input type="password" id="input-last-name" class="form-control" placeholder="New Password"  name="newpassword">
        </div>
    </div>
    <div class="col-4 text-end">
        <a href="#!" class="btn btn-sm bg-gradient-primary mb-0">Change</a>
    </div>
</form>